{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music DataBase</title>
    <link rel="stylesheet" href="{% static 'main/css/add_button.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'artists/css/artists_detail.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/releases_detail.css'%}">
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">

    {% block extra_head %}
    {% endblock %}
</head>

<body>



    <!-- Шапка -->
    <header class="navbar">

        <a href="{% url 'main:main' %}" class="logo">Music DataBase</a>
        <form action="{% url 'main:search_result' %}" method="get" class="search-form">
        <input type="search" name="q" placeholder="Search..." value="{{ query|default:'' }}">
        <button type="submit">Search</button>
        </form>
        <nav class="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="btn-profile">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="btn-login">Login</a>
            {% endif %}
        </nav>
    </header>

    <!-- Головний контейнер -->
    <main class="main-container">
        {% block content %}
        {% include 'artists_detail.html' %}
        {% endblock %}
    </main>
</body>
</html>