{% load static %}
<!DOCKTYPE HTML>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Music Data Base</title>

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
                <!-- Навігація -->

    <header class='navbar'>
        <div class="logo">Music Data Base</div>
        <nav class="nav-links">
            {% if user %}
        <a href="{% url 'users:profile' %}" class="btn-profile">{{user.username}}</a>
        {% else %}
        <a href="{% url 'users:login' %}" class="btn-login">Login</a>
        {% endif %}

    </nav>
</header>

    <main class="main-conteiner">

                        <!--Секція 1: Виконавці-->
    <section class="music-section">
        <h2 class="section-title"> Artists</h2>
        <div class="grid-container artists grid">
            {% for artist in artists %}
            <div class="artists-card">
                <div class="avatar-circle">
                    {% if artist.image %}
                    <img src="{{ artist.image.url }}" alt="{{ artist.name }}">
                    {% else %}
                    <span> {{artist.name|slice:':1'}}</span>
                    {% endif %}
                    </div>
                <p class="card-title">{{artist.name}}</p>
            </div>
            {% empty %}
            <p class="empy-text"> There is no artists </p>
            {% endfor %}
        </div>
    </section>

                        <!--Секція 2: Жанри-->
        <section class="music-section">
            <h2 class="section-title"> Genres </h2>
            <div class="grid-container genres-grid">
                {% for genre in genres %}
                <div class="genre-card">
                    <span> {{genre.name}} </span>
                </div>
                {% empty %}
                <p class="empy-text"> There is no genres </p>
                {% endfor %}
            </div>
        </section>

                    <!--Секція 3: Альбоми-->
        <section class="music-section">
            <h2 class="section-title"> Recommended albums </h2>
            <div class="horizontal-scroll releases-scroll">
                {% for release in random_release %}
                <div class="album-card">
                 <div class="cover-wrapper">
                     {% if release.image %}
                     <img src="{{ release.image.url }}" alt="{{release.name}}">
                     {% else %}
                     <div class="cover-placeholder">🎵</div>
                     {% endif %}
                 </div>
                    <p class="card-title">{{release.name}}</p>
                    <p class="card-subtitle">{{release.artists.name}} </p>
                </div>
                {% empty %}
                <p class="empty-text"> There is no releases </p>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>




