{% extends 'base.html' %}
{% load static %}






                        <!--Секція 1: Виконавці-->
{% block content %}
<main class="main-conteiner">
    <section class="music-section">
        <h2 class="section-title"> Artists</h2>
        <div class="grid-container artists grid">
            {% for artist in artists %}
        <a href="{% url 'artists:artists_detail' artist.slug %}" style="text-decoration: none; color: inherit;">
            <div class="artists-card">
                <div class="avatar-circle">
                    {% if artist.image %}
                    <img src="{{ artist.image.url }}" alt="{{ artist.name }}">
                    {% else %}
                    <span> {{artist.name|slice:':1'}}</span>
                    {% endif %}
                    </div>
                <p class="card-title">{{artist.name}}</p>
            </div>
            {% empty %}
            <p class="empy-text"> There is no artists </p>
            {% endfor %}
        </a>
        </div>
    </section>

                        <!--Секція 2: Жанри-->
        <section class="music-section">
            <h2 class="section-title"> Genres </h2>
            <div class="grid-container genres-grid">
                {% for genre in genres %}
                <div class="genre-card">
                    <span> {{genre.name}} </span>
                </div>
                {% empty %}
                <p class="empy-text"> There is no genres </p>
                {% endfor %}
            </div>
        </section>

                    <!--Секція 3: Альбоми-->
        <section class="music-section">
            <h2 class="section-title"> Recommended albums </h2>
            <div class="horizontal-scroll releases-scroll">
                {% for release in random_release %}
                <a href="{% url 'main:releases_detail' release.id  %}" class="album-card-link">
                <div class="album-card">
                 <div class="cover-wrapper">
                     {% if release.release_image %}
                     <img src="{{ release.release_image.url }}" alt="{{release.name}}">
                     {% else %}
                     <div class="cover-placeholder">🎵</div>
                     {% endif %}
                 </div>
                    <p class="card-title">{{release.release_name}}</p>
                    <p class="card-subtitle">{{release.artists.name}} </p>
                    <p class="card-text text-muted small card-subtitle">{{release.release_date }}</p>
                </div>

                {% empty %}
                <p class="empty-text"> There is no releases </p>
                {% endfor %}
            </div>
                </a>
        </section>
    </main>
{% endblock %}




